.scale-negative-1 {
    transform:scaleX(-1);
}

.negative-margin-left-25 {
    margin-left: -50px;
}

@media only screen and (max-width: 600px) {
    .negative-margin-left-25 {
        margin-left: -25px;
    }
}

.text-absoulte-inquiry {
    position: absolute;
    top: 25px; 
    left: 15px;
}


.margin-left-50 {
    margin-left: 75px;
}

@media only screen and (max-width: 900px) {
    .margin-left-50 {
        margin-left: -1500;
    }
}

.no-padding {
    padding: 0 15px 0 0 !important;
}

.padding-appbar {

}

.hover-menu-items:hover {
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid var(--sixth-color);
}
