:root {
  --primary-color: #673d1c;
  --secondary-color: #a75b26;
  --terciary-color: #ab7d2a;
  --fourth-color: #f0f2f5;
  --fifth-color: #a26c40;
  --sixth-color: #dda376;
  --seventh-color: #fefbf0;
  --border-radius: 25px;
}

.global-text-cormorand {
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

body {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-items-color {
  color: var(--sixth-color) !important;
  text-decoration: none;
}

.hero-video-frame {
  height: 100vh;
  overflow: hidden;
}

.transparent-background-color {
  background-color: transparent;
}

#my-hero-video {
  width: 100%;
}

.pages-titles {
  color: #AE6D3F;

font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -5.2px;
}

.text-align-center {
  text-align: center;
}


.clip-color-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.clip-color-div {
  overflow: hidden;
  color: #673d1c;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Cizel TITLE */
  font-family: Cinzel;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  padding: 5px 30px;
  background-color: rgba(221, 163, 118, 0.27);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--border-radius);
  text-transform: uppercase;
}

.about-me-hello {
  color: #000;
  text-align: center;

  /* CIZEL */
  font-family: Cinzel;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.about-me-text {
  color: #000;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

/* Footer */
.background-footer {
  background: rgba(221, 163, 118, 0.15);
}

.faq-question {
  border-radius: 25px;
  background-color: #FAF2E6;
  padding: 30px;
}

.faq-question-title {
  color: #AE6D3F;
text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.48px;
} 

.faq-question-answer {
  color: #000;
text-align: left;

/* body faq */
font-family: "Cormorant Garamond";
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
}

.faq-title-height {
  height: 101px;
}

.faq-container-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-container {
  height: 350px;
}